
body {
    background: #0c739e;
    background-image: url(../img/background.png);
    background-repeat: repeat-x;
    width: 100%;
    min-height: 100%;
    color: white;
    font-family: Tahoma;
}
.logotip {
    float: left;
    width: 40%;
    height: 165px;
    padding-left: 30px;
    padding-top: 10px;
}
.logo {
    height: 100% ;
}
.contakty {
    float: right;
    width: 17%;
    font-size: 12px;
    padding-top: 10px;
    line-height: 1.5;
    margin-left: 100px;
}
.cont {
    color: #128aa7;
}
.iconki {
    float: right;
    width: 35%;
    margin-top: 10px;
    margin-right: 5px;
}
.iconki1 {
    position: relative;
    overflow: hidden;
}
.iconki1 li {
    float: left;
    display: inline-block;
    text-align: center;
    width: 15%;
    padding-bottom: 5px;
}
.flagi{
    text-decoration: underline;
    font-size: 10px;
    color: #128aa7;
}
.wrapper {
    margin: 0% 12% 0% 12%;
    background: white;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 2px 2px #074257;
}
.photo {
    width: 100%;
    height: 230px;
    margin: 0;
}
nav {
    display: block;
    position: relative;
    height: 32px;
    background: #333333;
    border-bottom:1px solid black ;
    box-shadow: 0px 0px 5px 0px black;
    z-index:1;
}
.menu {
    display: block;
}
.menu:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
.menu li{
    float: left;
    position: relative;
    display: block;  
}
.menu li a {
    display: block;
    color: #fff; 
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.menu>li>a {
    padding-left: 5px;
    padding-right: 37px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu>li>a:first-child {
    padding-left: 30px;
}
.strelka:after { 
    font-size: 8px;
    content: "\25bc";
}
.submenu {
    display: none;
    position: absolute;
    width: 170px;
    top: 32px;
    left: 25px;
    background-color: #333333;
    border-top: 1px solid black;
    box-shadow: 0px 1px 6px 1px #303030;
}
.submenu li {
    display: block;
}
.submenu li:last-child {
    padding-bottom: 15px;
}
.submenu li a {
    display: block;
    color: #fff; 
    text-decoration: none;
    padding: 5px 50px 10px 10px;
}
.menu  li:hover  ul.submenu {
    display: block;
}
.fon1 { 
    float: left;
    width: 100%;
    background: #edeef0;
    position: relative;
    right: 56%;
    line-height: 1.5;
    font-size: 16px;
    color: #424c43; 
}
.fon2 { 
    float: left;
    width: 100%;
    background: #ffffff;
    position: relative;
    right: 22%;
}
.fon3 {
    float: left;
    width: 100%;
    background: #edeef0;
    position: relative;
    overflow: hidden;
}
.leftColumn {
    float: left; 
    width: 19%;
    position:relative;
    padding-bottom: 10px;
    padding-top: 10px;
    left:80%;    
}
.centerColumn {
    float: left;
    width: 54%;
    position:relative;
    padding-bottom: 10px;
    padding-top: 10px;
    left:81%;
}
.rightColumn {
    float: left;
    width: 19%;
    position:relative;
    padding-bottom: 10px;
    padding-top: 10px;
    left:85%;
 }
h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
footer { 
    text-align: center;
    padding: 8px;
}